<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
</head>
<body>
<div>顶部分类
    {% for cate in navs %}
        <a href="/category/{{ cate.id }}">{{ cate.name }}</a>
    {% endfor %}

</div>
{% if post %}
    <h1>{{ post.title }}</h1>
    <div>
        <span>分类：{{ post.category.name }}</span>
        <span>作者：{{ post.owner.username }}</span>
    </div>
    <hr>
    <p>
        {{ post.content }}
    </p>
{% endif %}
<div>
    侧边栏展示：
    {% for side_bar in side_bars %}
        <h4>
            {{ side_bar.title }}
        </h4>
        {{ side_bar.content }}
    {% endfor %}

</div>
<div>
    底部分类
    {% for cate in categories %}
        <a href="/category/{{ cate.id }}">{{ cate.name }}</a>
    {% endfor %}

</div>
</body>
</html>